body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Устанавливаем шрифт для всего документа */
}

header {
    background-color: rgba(255, 255, 255, 0.8); /* Добавляем немного прозрачности для лучшей видимости контента */
    padding: 10px 0; /* Добавляем немного отступа сверху и снизу */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/jpg/1647779808_1-abrakadabra-fun-p-chernii-fon-s-liniyami-1.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.block {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

.block h2 {
    color: #333;
}

.block ul {
    list-style-type: none;
    padding: 0;
}

.block ul li {
    margin-bottom: 10px;
}

.block ul li strong {
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
}
nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: lightgrey;
}

