body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 400px;
    position: relative;
}

.game-icon {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.product-details {
    flex: 1;
}

.game-title {
    margin-top: 0;
}

.buy-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007e9e;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #1c5b6b;
}

.price {
    text-align: center;
    font-size: 18px;
}

.game-description {
    margin-bottom: 10px;
}

.game-description ul {
    padding-left: 20px;
}

.back-button {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: blue;
}

.back-button:hover {
    color: red;
}

.product-name {
    text-align: center;
}

.product-name a {
    color: blue;
    text-decoration: none;
}

.product-name a:hover {
    color: red;
}

body {
    background-image: url('/jpg/134157-Helldivers-2.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
}
.product-card:hover .back-button {
    color: rgb(31, 56, 156);
}

.product-card:hover .back-button:hover {
    color: rgb(152, 163, 3);
}
